.slider
  width: 1024px
  margin: auto
  position: relative
  z-index: 1

  ul.bxslider
    margin-top: 0px
  table
    td
      vertical-align: top
  .left
    display: inline
    width: 200px
    height: 463px
    .name
      margin-top: 60px
      font-size: 48px
      font-family: agora_sans_regular
    .preview
      margin-top: 40px
      font-size: 18px
      font-family: agora_sans_regular
    .description
      margin-top: 30px
      font-size: 14px
  .photo
    display: block
    margin-left: 130px
    width: 463px
    height: 463px
    background: asset_url('slider_bg.png')
    text-align: center
    img
      display: inline
      vertical-align: middle
      margin-top: 150px
      max-height: 295px
      max-width: 295px